<extend name="Public/_model" />
<block name="body"> 
	<form id="form-add">
		<ul class="forminfo">
			<input type="hidden" name="id" value="{$info.id}">
			<li>
				<label>账号：<b>*</b></label>
				<input type="text" class="dfinput" value="{$info.login_name}" disabled="" />
			</li>
			<li>
				<label>姓名：<b>*</b></label>
				<input type="text" class="dfinput" value="{$info.name}" placeholder="输入名称（昵称）"  minlength="2" name="name" required/>
			</li>
			<li>
				<label>手机：</label>
				<input type="text" class="dfinput" value="{$info.mobile}" placeholder="手机号码"  name="mobile"/>
			</li>
			<li>
				<label>邮箱：</label>
				<input type="text" class="dfinput" value="{$info.email}" placeholder="邮箱" name="email"/>
			</li>
			<li>
				<label>用户组：</label>
				<cite>
					<volist name='groups' id='group'>
						<label>
							<input <eq name='group.checked' value='1'>checked="checked"</eq> 
								name="group_ids[]" value="{$group.id}" type="checkbox" class="ace"/>
							{$group.name}
						</label>
					</volist>
				</cite>
			</li>
			<li>
				<label>备注：</label>
				<textarea name="memo" cols="" rows="" class="textinput">{$info.memo}</textarea>
			</li>
			<li><label>&nbsp;</label><input  type="submit" class="btn" value="确认保存"></li>
		</ul>
	</form>
</block>
<block name='js'>
	<script type="text/javascript">
		$(function () {
			ajaxForm('#form-add');
		});
	</script>
</block>
