<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8" />
	<title>软件管理平台</title>
</head>
<frameset rows="88,*" cols="*" frameborder="no" border="0" framespacing="0">
	<frame src="{:U('top')}" name="topFrame" scrolling="No" noresize="noresize"  />
	<frameset cols="187,*" frameborder="no" border="0" framespacing="0">
		<frame src="{:U('left')}" name="leftFrame" scrolling="No" noresize="noresize"  />
		<frame src="{:U('main')}" name="rightFrame"   />
	</frameset>
</frameset>
<noframes>
	<body>

	</body>
</noframes>
</html>