<extend name="Public/base" />
<block name='breadcrumb'>
	<li class="active">修改密码</li>
</block>

<block name="body">
	<form id="form-add" >
		<ul class="forminfo">
			<input type="hidden" name="id" value="{$info.id}"/>
			<li>
				<label>现在的密码：<b>*</b></label>
				<input type="password" class="dfinput" placeholder="现在的密码" minlength="6"   name="old" required/>
			</li>
			<li>
				<label>初始密码：<b>*</b></label>
				<input type="password" class="dfinput" placeholder="新密码" minlength="6" id="password"  name="pass" required/>
			</li>
			<li>
				<label>确认密码：<b>*</b></label>
				<input type="password" class="dfinput" placeholder="确认新密码" minlength="6" equalTo='#password'  name="agent_pass" required/>
			</li>
			<li><label>&nbsp;</label><input  type="submit" class="btn" value="确认保存"></li>
		</ul>
	</form>
</block>
<block name='js'>
	<script src="__PUBLIC__/Admin/plugins/jquery.validate.min.js"></script>
	<script type="text/javascript">
		var ajaxForm=function(slt,fuc){
			if(fuc==undefined||fuc==null){
				fuc=layer_close;
			}
			$(slt).validate({
				errorElement: 'i',
				errorClass: 'help-block',
				focusInvalid: false,
				ignore: "",
				highlight: function (e) {
					$(e).closest('li').removeClass('has-info').addClass('has-error');
				},
				success: function (e) {
					$(e).closest('li').removeClass('has-error');
					$(e).remove();
				},
				errorPlacement: function (error, element) {
					element.closest('li').find('i').remove();
					error.appendTo(element.closest('li'));
				},
				submitHandler: function (form) {
					$.post('{:U()}', $(slt).serialize(), function(d) {
						if(d.status==1){
							alert_success(d.info,fuc);
						}else{
							alert_error(d.info,fuc);
						}
					});
					return false;
				}
			});
		}
		$(function () {
			ajaxForm('#form-add');
		});
	</script> 
</block>